<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>BubbleCheck {% block title %}{% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    {% block css %}
    {% endblock %}
  </style>
</head>
<body>
  <nav class="blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">BubbleCheck</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('user_web_routes.login_get') }}" class="waves-effect waves-light btn blue">Log In</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{{ url_for('user_web_routes.login_get') }}">Log In</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="section">
      {% block body %}{% endblock %}
    </div>
    <br><br>
  </div>

  <footer class="page-footer blue darken-3">
    <div class="footer-copyright blue darken-4">
      <div class="container">
      Made by <a href="https://www.linkedin.com/in/taylor-reece-1a573694/" class="orange-text text-lighten-3">Taylor Reece</a> | <a href="{{ url_for('default_web_views.about') }}" class="orange-text text-lighten-3">About</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  </body>
</html>
