{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="mdl-card login-card mdl-shadow--4dp">
	<div class="mdl-card__supporting-text">
		<form class="form-signin" method="POST" action="{{ url_for('user_web_routes.user_login_view') }}">
			<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
				<h2 class="mdl-card__title-text">Log in</h2>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="email" name="email">
				<label class="mdl-textfield__label" for="email">Email Address</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="password" id="password" name="password">
				<label class="mdl-textfield__label" for="password">Password</label>
			</div>
			<a href="{{ url_for('user_web_routes.user_forgot_password_view') }}">Forgot my password</a>
			<div class="form-group"> 
				<div>
					<button type="submit" class="btn btn-default">Sign In</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block css %}
.mdl-layout {
	align-items: center;
	justify-content: center;
}
.login-card {
	margin-top: 10px;
}
body {
    background-color: #ddd;
}
{% endblock %}